<div class="span3">
  <%= image_tag("/assets/lady.jpg",  :alt => "法国竖琴超女玛利昂演奏《卡农》") %>
  <ul class="comments">
  <% Random.rand(5).times do |time| %>
    <li> <a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a></li>
  <% end %>
  </ul>
</div>

