<div class="episode_index">
  <% (0..3).each do |column| %>
    <div class="span3">
      <% @episodes.each_with_index do |episode, index| %>
        <% if column == index % 4 %>
          <%= image_tag("#{episode.img_url}",  :alt => "#{episode.name}") %>
          <li><%= link_to episode.name, episode %></li>
          <% episode.comments.each do |c| %>
            <li><%= "#{c.name}: #{c.content}" %></li>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @episodes %>

