<div class="episode_index">
<% @episodes.each do |e| %>
  <div class="span3">
        <%= image_tag("#{e.img_url}",  :alt => "#{e.name}") %>
        <li><%= link_to e.name, e %></li>
        <% e.comments.each do |c| %>
          <li><%= "#{c.name}: #{c.content}" %></li>
        <% end %>
  </div>
<% end %>
<%= paginate @episodes %>
