<div class="column-fluid tablar">
  <% @episodes.each do |e| %>
    <div class="span3">
      <%= image_tag("/assets/lady.jpg",  :alt => "#{e.description}") %>
      <ul class="comments">
        <% e.comments do |c| %>
          <li>c.inspect</li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
