<h1> 参考 music.qq.com 实现简单的分类查找</h1>
<br/>
<div class="row-fluid">
    <div class="span10">
    <% @episodes.each do |episode| %>
      <%= render episode %>
    <% end %>
  </div>
</div>

<br/>
<h1> 参考 上面的实现，每一个展示单元放到一个partial里面</h1>
<ul class="column-fluid tablar">
	<div class="span3">
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
	</div>

	<div class="span3">
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
	</div>
	
	<div class="span3">
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
	</div>
	
	<div class="span3">
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
		<div>
			<img class="img" alt="法国竖琴超女玛利昂演奏《卡农》" src="/assets/lady.jpg">
			<a href="/episodes" target="_blank">法国竖琴超女玛利昂演奏《卡农》</a>
			<ul class="comments"></ul>
		</div>
	</div>
</ul>
