/*** header style***/
header{
	width: 1000px;
	height: 142px;
	margin-left: 143px;
	margin-right: 143px;
}

/*** main style ***/
#main{
	 margin-left:100px;
	 .row{
	 	margin-left: 0px;
	 	.span12{
	 		width: 1000px;
	 		.thumbnails{
				padding-left: 0px;	 			
	 		}
	 	}
	 }
}

.marketing{
		width: 1000px;
		height: 246px;
		// position: relative;
		// padding-right: 143px;
			.span4{
				width: 316px;
				height: 245px;
			}
		
}

/*** footer style ***/
.footer{
	padding-top: 10px;
	width: 1000px;
	img{
		padding-left: 160px;
	}
	p{
		a{
			color: $main-color;
		}
	}
	.copyright{
		color: $main-color;
		padding-bottom: 10px;
		margin-left:650px;
	}
}

/*** promobox style ***/
::selection {
    background: #ff7504;
    color: #fff;
    text-shadow: none;
}
.slider_wrap {
    width: 1008px;
    height: 450px;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin-top: 5px;
}
.promobox {
	height: 80px;
	width: 1008px;
	position: absolute;
	left: 0;
	bottom: 95px;
	background: url(/assets/slide_text_bar_bg.png) repeat-x;
	h1 {
		position: absolute;
		font-size: 28px;
		margin-top: 24px;
		margin-left: 24px;
		color: #FFF;
		text-shadow: black 1px 1px 2px;
		text-shadow: rgba(0,0,0,0.7) 1px 2px 4px;
	}
	h2 {
		display: none;
	}
	a{
	    height: 20px;
	    padding-left: 22px;
	    background: url(/assets/sprite.png) no-repeat;
	}
}


.button {
	color: #FFF;
	float: right;
	margin-top: 10px;
	margin-right: 24px;
	position: relative;
	a.register{
		display: block;
		width: 210px;
		height: 60px;
		text-indent: -9999px;
		background: url(/assets/sprite.png) no-repeat 0 -510px;
	}
	.openlogin {
		position: absolute;
		top: 36px;
		left: 35px;
		a {
			text-indent: 0;
			color: #D9D9D9;
			padding-left: 22px;
		}
		.qq {
    		background-position: -225px -455px!important;
		}
		.sina {
    		background-position: -225px -478px!important;
		}
	}
}


/*** image-wall style ***/

.tablar{
	position: relative;
	.span3{
		width:210px;
		// height: 800px;
		list-style-type:none;
		.img{
			height: 150px;
			width: 210px;
		}
		li{
			width: 210px;
			color: $main-color;
			list-style: none;
			a{
				color: $orange-color;
				&:hover {color: $main-color; }
			}
		}
	} 
}