<div class="footer">
<!--   <p>
    <a href="#">Privacy</a>  &middot; 
    <a href="#">Terms</a> &middot; 
    <a href="#">links to other</a>  &middot; 
    <a href="#">about</a>  &middot; 
  </p> -->
  
  <%= image_tag "footer_bg.jpg" %>
  <div class="copyright">Copyright ©2013 Lovin Guitars | All rights reserved.</div>
</div>

