<div class="footer">
  <p>
    <a href="#">Privacy</a>  &middot; 
    <a href="#">Terms</a> &middot; 
    <a href="#">links to other</a>  &middot; 
    <a href="#">about</a>  &middot; 
  </p>

  <!-- JiaThis Button BEGIN -->
  <div id="jiathis_style_32x32">
    <span class="jiathis_txt">在微博上关注我们: </span> 
    <a class="jiathis_follow_tsina" rel="http://weibo.com/feitian124"></a>
    <a class="jiathis_follow_tqq" rel="http://t.qq.com/feitian124"></a>
  </div>
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
  <!-- JiaThis Button END -->

  <div>Copyright ©2012 Lovin Guitars | All rights reserved.</div>
</div>

